/* Feedback Form Styling */
ion-item {
  --border-color: #ddd;
  --placeholder-color: #fff;
  --color: #fff;
  --padding-start: 15px;
  --padding-end: 15px;
  --border-radius: 12px;
  font-size: 1.2em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ion-label {
  color: #fff;
  font-size: 1.2em;
}

ion-input::part(native),
ion-textarea::part(native) {
  color: #fff;
  &::placeholder {
    color: #fff;
  }
}

.button-container ion-button {
  --border-radius: 12px;
  padding: 15px 0;
  font-size: 1.2em;
}

.submit-button {
  --background: linear-gradient(to right, #04e35a, #027224);
  --color: white;
}

.clear-button {
  --background: lightgray;
  --color: black;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rounded-card {
  margin-top: 250px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.feedback-title {
  font-size: 2em;
  margin-bottom: 25px;
}

.stars-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.star-icon {
  font-size: 2em;
  color: gold;
  margin: 0 5px;
  cursor: pointer;
}

.error-card {
  color: red !important;
  font-weight: bold;
  text-align: center;
}

.error-content {
  color: rgb(236, 91, 91) !important;
  font-weight: bold;
  text-align: center;
}

.clicktermos {
  color: #ffffff;
}
