.faq-card {
    border-radius: 20px;
    margin: 10px 15px;
    padding: 10px;
    
    ion-card-title {
      font-size: 1.1em;
      font-weight: bold;
    }
  
    ion-card-content {
      font-size: 0.9em;
      color: #727272;
    }
  
    ion-button {
      margin-top: 10px;
    }
  }
  
