<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configurações</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-menu content-id="home-content"></app-menu>
<ion-content [fullscreen]="true" id="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configurações</ion-title>
    </ion-toolbar>
  </ion-header>

    <div class="  flex justify-center items-center mt-5">

      <ion-list>
        <ion-item>
        <ion-select label="Idioma" [(ngModel)]="idioma" (ionChange)="setarIdioma()">
        <ion-select-option value="pt_br">Português (Brasil)</ion-select-option>
        <ion-select-option value="en_us">Inglês (Estados Unidos) </ion-select-option>
        </ion-select>
        </ion-item>
        </ion-list>

    </div>