<ion-content [fullscreen]="true">
  <!-- Back button with icon and text linking to home -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="go('/login')">
          <ion-icon name="arrow-back-circle"></ion-icon>
          <ion-label>ㅤVoltar para login</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="reset-password-container">
    <ion-card class="rounded-ios-card">
      <div class="reset-password-content">
        <ion-card-header class="header-center">
          <img src="https://i.imgur.com/t4I9hO1.png" class="reset-password-logo" />
          <ion-card-title class="reset-password-title">Esqueceu sua senha?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form>
            <div class="input-group">
              <label class="input-label" for="email">Email</label>
              <ion-input type="text" id="email" placeholder="ivonesio@gmail.com" required></ion-input>
            </div>
            <ion-button expand="block" class="reset-password-button" type="submit">Redefinir senha</ion-button>
          </form>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
