<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listar Alertas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menuadm content-id="home-content"></app-menuadm>

<ion-content [fullscreen]="true" id="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Alertas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="form-container">
    <ion-button expand="block" class="submit-btn" routerLink="/admalertas">
      Cadastrar novo alerta
    </ion-button>
    <ion-card class="rounded-card">
      <div class="form-content">
        <!-- Botão movido para cima -->

        
        <div class="alert-list-container">
          <div class="alert-grid">
            <ion-card *ngFor="let alerta of alertas" class="alert-card">
              <ion-card-content>
                <h2>{{ alerta.titulo }}</h2>
                <p><strong>Data:</strong> {{ alerta.data }}</p>
                <p><strong>Status:</strong> {{ alerta.status }}</p>
                <p><strong>Cidade:</strong> {{ alerta.cidade }}</p>
                <p><strong>Bairro:</strong> {{ alerta.bairro }}</p>
                <p><strong>Rua:</strong> {{ alerta.rua }}</p>
                
                <div class="button-container">
                  <ion-button fill="clear" (click)="editar(alerta.id)">
                    <ion-icon slot="start" name="create"></ion-icon>
                    Editar
                  </ion-button>
                  <ion-button fill="clear" color="danger" (click)="excluir(alerta.id)">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    Excluir
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>