ion-menu::part(backdrop) {
  background-color: #034ae3;
}
ion-menu::part(container) {
  display: flex;
  flex-direction: column;
}

ion-item.menu-item {
  margin: 10px 0;
  padding: 12px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }

  ion-icon {
    font-size: 20px;
    color: #034ae3;
    margin-right: 8px;
    border-radius: 50%; 
  }
}

.login-admin-container {
  padding: 16px;
  background-color: #000000;
  border-radius: 0 0 20px 20px; 
}

ion-item.login-admin-item {
  border-radius: 16px;  
  padding: 12px;
  background: transparent;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgba(255, 0, 0, 0.979) !important;

  &:hover {
    transform: scale(1.05);
  }

  ion-icon {
    font-size: 20px;
    color: rgba(255, 0, 0, 0.952);
    margin-right: 8px;
    border-radius: 50%;  
  }
}
