
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  
  <!---FONTES A-V-->
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

  

  <div id="container" class="body">
    <ion-img src="https://i.imgur.com/TuXNpwS.png" class="icons">  
    </ion-img><h1 class="righteous-regular azul titulointroducao">IMPACTO AMBIENTAL</h1>
      <p class="source-sans descricaointroducao">Energia renovável causa menos impacto ambiental que fontes não renováveis, mas ainda pode afetar habitats e paisagens. Mitigação é essencial para desenvolvimento sustentável.</p>

      <div class="container-25">
        <div class="ellipse-7">
        </div>
  <div class="ellipse-8">
        </div>
        <div class="ellipse-9">
        </div>
        
      </div>
      <ion-button shape="round" expand="block" style="margin-top: 8%;"  fill="outline" routerLink="/login">Prosseguir</ion-button>
  </div>


