<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-card class="rounded-ios-card">
      <div class="login-content">
        <ion-card-header class="header-center">
          <img src="https://i.imgur.com/t4I9hO1.png" class="login-logo" />
          <ion-card-title class="login-title">Entre na sua conta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form>
            <div class="input-group">
              <label class="input-label" for="cpf">CPF</label>
              <ion-input type="text" id="cpf" placeholder="123.456.789-12" required></ion-input>
            </div>
            <div class="input-group">
              <label class="input-label" for="password">Senha</label>
              <ion-input type="password" id="password" placeholder="••••••••" required></ion-input>
            </div>
            <div class="forgot-password">
              <a href="#" routerLink="/esqueceu">Esqueceu a senha?</a>
            </div>
            <ion-button expand="block" class="login-button" routerLink="/home">Entrar</ion-button>
          </form>
          <div class="signup-link">
            <p>Ainda não tem conta? <a href="#" routerLink="/cadastro"><b>Crie uma!</b></a></p>
          </div>
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
