.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

.rounded-ios-card {
  border-radius: 30px; /* Arredondamento estilo iOS */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve para profundidade */
  width: 90%; /* Aumenta a largura do card */
  max-width: 500px; /* Define uma largura máxima */
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; /* Aumenta o padding interno */
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-logo {
  width: 180px; /* Aumenta o tamanho da logo */
  margin-bottom: 25px;
}

.login-title {
  font-size: 2em; /* Aumenta o tamanho do título */
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 8px;
  color: #666;
  font-size: 1.2em; /* Aumenta o tamanho da label */
}

ion-input {
  --background: #f9f9f9;
  --border-color: #ddd;
  --placeholder-color: #aaa;
  --color: #333;
  padding: 15px; /* Aumenta o padding interno */
  border-radius: 12px; /* Ajusta o arredondamento */
  font-size: 1.2em; /* Aumenta o tamanho do texto */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.forgot-password {
  text-align: right;
  width: 100%;
  margin-bottom: 25px;
}

.forgot-password a {
  color: #3498db;
  text-decoration: none;
  font-size: 1em; /* Aumenta o tamanho do texto */
}

.login-button {
  --background: linear-gradient(to right, #04e35a, #5da903);
  --color: white;
  --border-radius: 12px;
  padding: 15px 0; /* Aumenta o padding do botão */
  font-size: 1.2em; /* Aumenta o tamanho do texto do botão */
}

.signup-link {
  text-align: center;
  margin-top: 25px;
  font-size: 1em; /* Aumenta o tamanho do texto */
}

.signup-link a {
  color: #3498db;
  text-decoration: none;
}
