<ion-content [fullscreen]="true"> 
  <!-- Back button with icon and text linking to home -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="go('/home')">
          <ion-icon name="arrow-back-circle"></ion-icon>
          <ion-label>ㅤIr para home</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <ion-card class="rounded-ios-card">
      <div class="login-content">
        <ion-card-header class="header-center">
          <img src="https://i.imgur.com/t4I9hO1.png" class="login-logo" />
          <ion-card-title class="login-title">Entre na sua conta</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Form submission with (ngSubmit) to call autenticar() -->
          <form [formGroup]="formLogin" (ngSubmit)="autenticar()">
            <div class="input-group">
              <label class="input-label" for="cpfj">CPF</label>
              <ion-input formControlName="cpfj" class="input-form" id="cpfj" fill="outline" placeholder="123.456.789-12"></ion-input>
            </div>

            <div class="input-group">
              <label class="input-label" for="password">Senha</label>
              <ion-input formControlName="senha" type="password" class="input-form" id="senha" fill="outline" placeholder="***********"></ion-input>
            </div>

            <div class="forgot-password">
              <a (click)="go('/esqueceu')">Esqueceu a senha?</a>
            </div>

            <ion-button [disabled]="!formLogin.valid" expand="block" class="login-button" type="submit">Entrar</ion-button>
          </form>

          <div class="signup-link">
            <p>Ainda não tem conta? <a (click)="go('/cadastro')"><b>Crie uma!</b></a></p>
          </div>
        </ion-card-content>
      </div>
    </ion-card>
  </div>

  <!-- Admin Mode Button at the Bottom -->

    <ion-button expand="full" (click)="go('/adminlogin')">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Modo Admin</ion-label>
    </ion-button>

</ion-content>
