<!---<ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">    
      <a routerLink="/home"> Inicio</a>
      <br>
      <hr>
      <a routerLink="/servico">Cadastrar Serviços</a>
      <br>
      <hr>
      <a routerLink="/admusuarios">Lista de Usuario</a>
      <br>
      <hr>
      <a routerLink="/configuracoes">Ajustes</a>
      <br>
      <hr></ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>--> 