<body class="bg-dark">

  <div class="container mx-auto py-8">
      <h2 class="text-2xl font-bold mb-4 text-light text-center">Lista de Usuários</h2>
  
      <table class="w-full bg-dark shadow-md rounded mb-4">
          <thead>
              <tr class="bg-gray-800">
                  <th class="border px-4 py-2 text-white	">ID</th>
                  <th class="border px-4 py-2 text-white	">Nome</th>
                  <th class="border px-4 py-2 text-white	">E-mail</th>
                  <th class="border px-4 py-2 text-white	">Ações</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td class="border px-4 py-2 text-light	">1</td>
                  <td class="border px-4 py-2 text-light	">João</td>
                  <td class="border px-4 py-2 text-light	">joao&#64;example.com</td>
                  <td class="border px-4 py-2 text-light	">
                    <ion-button color="medium"><ion-icon name="create-outline"></ion-icon></ion-button>
                    <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>

                  </td>
              </tr>
              <tr>
                  <td class="border px-4 py-2 text-light	">2</td>
                  <td class="border px-4 py-2 text-light	">Maria</td>
                  <td class="border px-4 py-2 text-light	">maria&#64;example.com</td>
                  <td class="border px-4 py-2 text-light	">
                    <ion-button color="medium"><ion-icon name="create-outline"></ion-icon></ion-button>
                    <ion-button color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
 
                  </td>
              </tr>
              <!-- Adicione mais linhas conforme necessário -->
          </tbody>
      </table>
      <ion-button expand="block">      <a href="">Cadastrar novo usuario</a></ion-button> 

  </div>
  
  </body>