<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">horarios</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Horários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horários Disponíveis</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Horários</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4"><strong>Data</strong></ion-col>
          <ion-col size="4"><strong>Hora</strong></ion-col>
          <ion-col size="4"><strong>Status</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let horario of horarios">
          <ion-col size="4">{{ horario.data }}</ion-col>
          <ion-col size="4">{{ horario.hora }}</ion-col>
          <ion-col size="4">{{ horario.status }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>--->