<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-menuadm content-id="home-content"></app-menuadm>
<ion-content [fullscreen]="true" id="home-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Card de Boas-Vindas -->
  <ion-card class="welcome-card rounded-card">
    <div class="welcome-content">
      <div class="welcome-text-container">
        <ion-card-header>
          <ion-card-title>Bem-vindo ao Painel Renergy!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Aqui você terá acesso a todas funcionalidades por trás de nosso aplicativo</p>
        </ion-card-content>
      </div>
      <div class="welcome-icon-container">
        <ion-icon name="flash"></ion-icon>    </div>
    </div>
  </ion-card>

  <!-- Card ALERTAS -->
  <ion-card button color="primary" class="rounded-card"  (click)="go('/listaralertas')">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="construct"></ion-icon>      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>GERENCIAR ALERTAS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Registrar, editar, e criar alertas</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card HORÁRIOS -->
  <ion-card button color="tertiary" class="rounded-card" (click)="go('/admusuarios')">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="timer"></ion-icon>      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>GERENCIAR USUÁRIOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Registrar e editar usuários</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>
    <!-- Card FEEDBACK -->
    <ion-card button color="primary" class="rounded-card"  (click)="go('/admfeedback')">
      <div class="card-content">
        <div class="icon-container">
          <ion-icon name="star-half"></ion-icon>      </div>
        <div class="text-container">
          <ion-card-header>
            <ion-card-title>VER FEEDBACK'S</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Ver e excluir feedbacks</p>
          </ion-card-content>
        </div>
      </div>
    </ion-card>

  <!-- Card AJUSTES -->

  <ion-card color="" class="rounded-card">
    <div class="card-content">
      <div class="text-container">
        <ion-card-header>
          
          <p-chart type="pie" [data]="data" ariaLabbel="Data" />
        </ion-card-header>
      </div>
    </div>
  </ion-card>

  
  <ion-card color="" class="rounded-card">
    <div class="card-content">
      <div class="text-container">
        <ion-card-header>
          
          <p-chart type="bar" [data]="data1 " ariaLabbel="Data" />
        </ion-card-header>
      </div>
    </div>
  </ion-card>
  <div class="  flex justify-center items-center mt-5">

    <ion-list>
      <ion-item>
      <ion-select label="Idioma" [(ngModel)]="idioma" (ionChange)="setarIdioma()">
      <ion-select-option value="pt_br">Português (Brasil)</ion-select-option>
      <ion-select-option value="en_us">Inglês (Estados Unidos) </ion-select-option>
      </ion-select>
      </ion-item>
      </ion-list>

  </div>
</ion-content>

