<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Card de Boas-Vindas -->
  <ion-card class="welcome-card rounded-card">
    <div class="welcome-content">
      <div class="welcome-text-container">
        <ion-card-header>
          <ion-card-title>Bem-vindo ao Renergy!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Estamos felizes em tê-lo a bordo. Explore as funcionalidades do Renergy e descubra como podemos ajudar você.</p>
        </ion-card-content>
      </div>
      <div class="welcome-icon-container">
        <ion-icon name="flash"></ion-icon>    </div>
    </div>
  </ion-card>

  <!-- Card ALERTAS -->
  <ion-card button color="danger" class="rounded-card">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>ALERTAS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Ver alertas ativos</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card HORÁRIOS -->
  <ion-card button color="primary" class="rounded-card">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="time-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>HORÁRIOS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Ver horários disponíveis</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card AJUSTES -->
  <ion-card button color="tertiary" class="rounded-card" routerLink="/configuracoes">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="settings-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>AJUSTES</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Configurações do sistema</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card CENTRAL DE AJUDA -->
  <ion-card button color="medium" class="rounded-card">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>CENTRAL DE AJUDA</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Obter ajuda</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

</ion-content>
