<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre Nós</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu content-id="sobre-nos-content"></app-menu>

<ion-content [fullscreen]="true" id="sobre-nos-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quem Somos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="rounded-card">
    <div class="card-content">
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>De um Sonho a uma Realidade</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Em 2024, um grupo de estudantes do ensino médio de Criciúma decidiu
            participar do projeto integrador. Inspirados pela crescente
            necessidade de soluções sustentáveis, eles criaram um projeto sobre
            energias renováveis. O objetivo era desenvolver um sistema que
            utilizasse a energia solar para abastecer pequenas residências.
          </p>
          <p>
            O projeto foi um sucesso e chamou a atenção de professores e
            investidores locais. Com o apoio da escola e da comunidade, os
            alunos decidiram transformar a ideia em uma empresa. Assim nasceu a
            "Renergy", uma startup dedicada a fornecer soluções em
            energias renováveis.
          </p>
          <p>
            Desde então, a Renergy tem trabalhado para promover a
            conscientização sobre a importância das energias limpas e
            acessíveis, oferecendo serviços de instalação de painéis solares e
            consultoria em eficiência energética. Nosso compromisso é com um
            futuro mais sustentável e com a redução da pegada de carbono em
            Criciúma e região.
          </p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card class="rounded-card">
    <div class="card-content">
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>Nosso Compromisso</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Na Renergy, acreditamos que a energia limpa é o futuro. Estamos
            comprometidos em oferecer soluções acessíveis e inovadoras que ajudem
            nossos clientes a adotarem práticas mais sustentáveis.
          </p>
          <p>
            Junte-se a nós nessa jornada em direção a um mundo mais verde!
          </p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card de Missão -->
  <ion-card class="rounded-card ion-color-primary">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="star-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>Missão</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Proporcionar inovação e excelência em nossos serviços.</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card de Visão -->
  <ion-card class="rounded-card">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="eye-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>Visão</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Ser líderes em tecnologia com foco na satisfação do cliente.</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <!-- Card de Valores -->
  <ion-card class="rounded-card">
    <div class="card-content">
      <div class="icon-container">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
      <div class="text-container">
        <ion-card-header>
          <ion-card-title>Valores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Inovação, Transparência, Comprometimento, Excelência.</p>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

</ion-content>
